<h1 class="text-4xl">I am <span class="font-extrabold"><%= kitten.name %></span></h1>
<div id="<%= dom_id kitten %>">
  <p>Age: <%= kitten.age %></p>
  <p>Cuteness: <%= kitten.cuteness %></p>
  <p>Softness: <%= kitten.softness %></p>
</div>
