<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>

<div id="kittens" class="table__wrapper">
  <table>
    <tr>
      <th>Name</th>
      <th>Details</th> 
      <th>Delete</th>
    </tr>
    <% @kittens.each do |kitten| %>
      <tr>
        <td><%= kitten.name %></td>
        <td><%= link_to "Show this kitten", kitten %></td>
        <td><%= link_to "Destroy", kitten_path(kitten), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure? This kitten will be lost forever."
        } %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New kitten", new_kitten_path %>
